.scene-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.scene-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  top: 0;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/backdrop4.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.popup-overlay {
  cursor: pointer;
}

.box-container {
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1 / 1;
  border: none; /* Remove any forced borders */
}

.current-item {
  position: absolute;
  top: 18%;
  left: 47%;
  width: 7vw;
  height: 7vw;
  max-width: 80px;
  max-height: 80px;
  min-width: 50px;
  min-height: 50px;
  aspect-ratio: 1 / 1;
  transform: translateX(-50%);
}

.current-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: grab;
}

.item-name {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vw; /* Responsive scaling */
  font-weight: bold;
  text-align: center;
  z-index: 1000;
  white-space: nowrap; /* Prevents wrapping */
  color: white; /* White text */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Black outline effect */
}

.pantry-name {
  position: absolute;
  top: 45%;
  left: 92%;
  transform: translateX(-50%);
  font-size: 2vw; /* Responsive scaling */
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  z-index: 1000;
  white-space: nowrap; /* Prevents wrapping */
  color: white; /* White text */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Black outline effect */
}

.fridge-name {
  position: absolute;
  top: 55%;
  left: 68%;
  transform: translateX(-50%);
  font-size: 2vw; /* Responsive scaling */
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  z-index: 1000;
  white-space: nowrap; /* Prevents wrapping */
  color: white; /* White text */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Black outline effect */
}

.freezer-name {
  position: absolute;
  top: 69%;
  left: 45%;
  transform: translateX(-50%);
  font-size: 2vw; /* Responsive scaling */
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  white-space: nowrap; /* Prevents wrapping */
  color: white; /* White text */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Black outline effect */
}

.countertop-name {
  position: absolute;
  top: 70%;
  left: 12%;
  cursor: pointer;
  transform: translateX(-50%);
  font-size: 2vw; /* Responsive scaling */
  font-weight: bold;
  text-align: center;
  z-index: 1000;
  white-space: nowrap; /* Prevents wrapping */
  color: white; /* White text */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Black outline effect */
}

.success-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 3px;
}

.tap-continue {
  font-weight: bold;
}

.instructions {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vw; /* Responsive scaling */
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  z-index: 1000;
  white-space: nowrap; /* Prevents wrapping */
  color: white; /* White text */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Black outline effect */
}
