.scene-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.scene-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  top: 0;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/backdrop.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.box-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1 / 1;
}

.current-item {
  position: absolute;
  top: 8%;
  left: 50%;
  /* transform: translateX(-50%); */
  width: 10vw; /* Scales with viewport width */
  height: 10vw; /* Matches the width for a perfect square */
  max-width: 120px;
  max-height: 120px;
  min-width: 80px;
  min-height: 80px;
  aspect-ratio: 1 / 1; /* Perfect square aspect ratio */
}

.current-item img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Image fits perfectly within the container */
  border-radius: 10px;
}
